body {
  background-color: skyblue;
}

#logo-img img {
  width: 50px;
  height: 100%;
}

.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 3px solid #ccc;
}

#book-shelf {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 10px;
  padding: 20px;
}

#book-shelf img {
  width: 92%;
  border: 5px solid black;
}

.flip-container {
  perspective: 1000px;
}

.flip-container,
.front,
.back {
  width: 300px;
  height: 300px;
  margin: 70px;
  padding: 0;
}

.flip-container:hover .flip-card-inner,
.flip-container.hover .flip-card-inner {
  transform-origin: center center;
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  /* width: 300px; */
  /* height: 500px; */
  transition: 0.6s;
  text-align: center;
  transform-style: preserve-3d;
  width: 100%;
}

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform-origin: center center;
  transform: rotateY(0deg);
}

.back {
  transform-origin: center center;
  transform: rotateY(180deg);
  width: 280px;
}

.back p {
  font-size: 10px;
}

@media only screen and (max-width: 800px) {

  .flip-container,
  .front,
  .back {
    width: 100%;
    height: 400px;
  }
}

#carouselBackground {
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#carouselExampleControls {
  width: 80%;
  height: 100%;
  margin: auto auto;
  z-index: 999;
}

#carouselExampleControls img {
  height: 35rem;
  margin: 80px auto 0 auto;
}

#carouselBtn {
  background-color: black;
}